@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 80% !important;
}

/* side bar hiding functionallity */

#aside.hide-sidebar {
  position: absolute;
  transform: translateX(-100%);
  transition: 0.4s ease-in-out;
}

main.hide-sidebar {
  transition: 0.4s ease-in-out;
  margin-left: 0 !important;
}

main,
#aside {
  transition: 0.4s ease-in-out;
}

#aside {
  overflow: auto;
}

/* END side bar hiding functionallity */

.lll:hover {
  color: red;
}

.lll.active {
  color: red !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item .nav-link .icon {
  color: rgb(28, 27, 27) !important;
  font-size: 20px !important;
}

.nav-item .nav-link.active .icon {
  color: white !important;
}

.mh-100vh {
  min-height: 99vh !important;
}

.pagination {
  float: right;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px;
}

.pagination .pages ul {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.pagination .pages ul li {
  margin: 0;
}

.pagination .pages ul li:nth-child(1) a,
.pagination .pages ul li:last-child a {
  width: auto;
  /* padding: 0 10px; */
  padding-bottom: 3px;
  margin: 0 10px;
  text-transform: capitalize;
  background: none;
  border-radius: none;
  color: grey;
  font-size: 15px !important;
}

.pagination .pages ul li:nth-child(1) a:hover,
.pagination .pages ul li:last-child a:hover {
  background: transparent;
  color: black;
}

.pagination .pages ul li.selected a {
  background: #2a276b;
}

.pagination .pages ul li.disabled a {
  cursor: not-allowed;
}

.pagination .pages ul li.disabled a:hover {
  color: grey;
  font-weight: normal;
}

.pagination .pages ul li a:hover {
  background: #2a276bd1;
  color: #fff;
}

.pagination .pages ul li a {
  min-width: 25px !important;
  height: 25px !important;
  margin: 0 3px;
  background: grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px !important;
  cursor: pointer;
}

.pagination .pages ul li.break a {
  color: black;
  background: transparent;
}

#outer-main-content {
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
}

.innerBox {
  width: 100% !important;
  margin: 0 !important;
}

.addCountryPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addNewBtn {
  padding: 10px 20px;
  border-radius: 10px;
  background: #1a7335;
  color: white;
}

.addCountryPage .col-6 {
  width: 45%;
  height: 100%;
  margin: 0;
  border: 0;
}

.addCountryPage>div:nth-child(2) {
  max-height: 80vh !important;
  overflow: auto;
}

/* 
.pagination .next,
.pagination .prev {
  width: auto;
  padding: 0 10px;
  padding-bottom: 3px;
  margin: 0;
}

.pagination .next:hover,
.pagination .prev:hover{
  color: black;
  cursor: pointer;
}
.pagination .first,
.pagination .end {
  width: auto;
  padding: 0 10px;
  padding-bottom: 3px;
  margin: 0;
  color: black;
  border: 1px solid grey;
  border-radius: 5px;
}

.pagination .first:hover,
.pagination .end:hover{
  background: grey;
  cursor: pointer;
}
.pagination .pages span:hover {
  background: pink;
  color: black;
}

.pagination .pages span {
  min-width: 25px !important;
  height: 25px !important;
  margin: 0 3px;
  background: grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px !important;
  cursor: pointer;
}
.pagination .pages span.active {
  background: rgb(181, 23, 181);
} 
*/

/* sidebar css */
.card-header.flexed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  transform: translateX(100%);
  background: red;
  transition: 0.25s;
}

.sidebar.active {
  transform: translateX(0);
}

.reminder-menu {
  background: orangered;
  color: white;
  font-weight: bolder;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.reminder-menu .resend {
  text-transform: lowercase;
  text-decoration: underline;
  margin: 0 10px;
  cursor: pointer;
}

.reminder-menu .resend:hover {
  color: black;
}

/* csv design */

.screen {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.screen>div:nth-child(1) {
  max-width: 20%;
  min-width: 20%;
  min-height: calc(100vh - 60px);
  margin-right: 10px;
}

.screen>div:nth-child(2) {
  background: white;
  max-width: 100%;
  min-width: 100%;
  min-height: calc(100vh - 60px);
  overflow: auto;
  padding: 20px;
}

.screen>div:nth-child(2) td.booldata {}

.screen>div:nth-child(2) td.num {}

.schoolList {
  z-index: 99999 !important;
  max-width: 100%;
}

.required_missing {
  background: rgba(255, 0, 0, 0.341) !important;
}

.required_notation {
  border-bottom: 3px solid red !important;
  color: red;
}

.tableData td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  cursor: pointer;
  border: 1px solid grey;
}

.tableData {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: whitesmoke;
  overflow: auto;
}

aside.hide_now {
  display: none !important;
}

main.full_screen {
  margin-left: 0 !important;
}

.dashboardItem {
  margin: 10px;
  border-radius: 10px;
  width: 23%;
  padding: 15px;
  text-align: right;
  position: relative;
  background: #fbfafa;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;

  cursor: pointer;
}

.dashboardItem:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.dashboardItem h5 {
  color: #2a276b;
  font-size: 170%;
  font-weight: bolder;
}

.dashboardItem p {
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
}

.minHeight {
  min-height: 100vh;
}

.dashboardItem i {
  position: absolute;
  top: 5px;
  left: 5px;
  transform: translate(20%, 20%);
  width: 40px;
  height: 40px;
  font-size: 100%;
  color: white;
  background: rgb(84, 174, 84);
  /* background: #2a276b; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dashboardItemsList {
  display: flex;
  flex-wrap: wrap;
}

main .navbar {
  border-radius: 0 !important;
}

main .container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.p-45 {
  padding-left: 40px;
  padding-right: 40px;
}

.tableIcons i {
  box-shadow: none !important;
  color: white;
  font-size: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 2px;
}

.tableIcons:hover .fa-edit {
  background: rgba(10, 7, 68, 0.914);
}

.tableIcons .fa-edit {
  background: #2a276b;
}

.tableIcons .fa-trash-can {
  background: red !important;
}

.tableIcons:hover .fa-trash-can {
  background: rgb(172, 5, 5) !important;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.AddDataBtn {
  margin: 5px 0 5px 10px;
  background: #2a276b;
  color: white;
}

.AddDataBtn:hover {
  background: #2a276b;
  color: white;
}

.statusCell {
  position: relative;
}

.statusCell>span {
  cursor: pointer;
  background: #1a7335;
  color: #fff;
}

.statusCell>span:hover,
.statusCell>span:focus {
  background: #1a7335;
}

.statusCell>span.active {
  background: grey;
  color: black;
}

.statusBox {
  background: rgb(226, 221, 221);
  position: absolute;
  right: 0;
  top: 85%;
  display: none;
  z-index: 999;
  border-radius: 10px;
}

td.max-width {
  max-width: 400px !important;
}

.statusBox.active {
  display: flex;
}

.statusBox ul {
  list-style: none;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.statusBox ul li {
  width: 100%;
  font-size: 90%;
  text-align: left;
  padding: 5px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.statusBox ul li:nth-last-child(1) {
  border-bottom: none !important;
}

.LogoLoginScreen {
  max-width: 100%;
  width: 50%;
}

.loginSelectionDiv {
  width: 100%;
  min-height: 100vh;

  align-items: center;
  /* margin-top: 40px;
  flex-direction: column; */
}

.loginSelectionDiv>.row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.main-login-box {
  width: 100%;
}

.loginSelectionDiv>.row .card {
  width: 30%;
  min-width: 30%;
  border: none !important;
  box-shadow: none !important;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.loginSelectionDiv>.row .card:hover {
  background: #2a276b73;
}

.loginSelectionDiv>.row .card.active {
  background: #2a276b;
  color: white;
}

.bg-gradient-primary {
  background: #2a276b !important;
}

.nav-item .nav-link.active {
  background: #2a276bca !important;
}

.schoolFilters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0;
  flex-wrap: wrap;
}

.schoolFilters .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.schoolFilters .filter-group {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.dropZone {
  width: 80%;
  height: 300px;
  /* background: rgba(128, 128, 128, 0.582); */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  color: black;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 40%);
}

.dropZone p {
  font-size: 22px;
  margin-bottom: 15px;
}

.dropZone button {
  padding: 10px 30px;
  font-size: 15px;
}

.dropZone button {
  border-radius: 50px !important;
  text-transform: capitalize !important;
  padding: 7px 15px;
  color: white;
  border: none;
}

.dropZone button:hover {
  background: #151344d6 !important;
}

.filesList {
  width: 65%;
  list-style-type: none;
  margin: 0 auto;
}

.filesList .fileItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doubleProgramRow {
  background-color: red !important;
}

.invalid-feedback {
  color: red !important;
}

#header_menu {}

#header_menu.dark {}

.header-bg-dark #header_menu {
  background: #181739;
  /* background: transparent !important; */
}

.permissions.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70vh;
  background: white;
  border: 1px solid gray;
  z-index: 9999999999999;
  box-shadow: 0 0 25px -2px black;
  overflow: auto;
}

.permissions.popup>ol {
  width: 100%;
  overflow: auto;
}

.permissions.popup>ol li {}

.permissions.popup>ol li:nth-child(1) label {
  margin-top: 0 !important;
}

.permissions.popup>ol li label {
  color: #000;
  display: flex;
  font-weight: bolder;
  font-size: 130%;
  background: rgba(128, 128, 128, 0.346);
  padding: 5px;
  width: 100% !important;
  margin-top: 10px;
}

.permissions.popup>ol li ul {}

.permissions.popup>ol li ul li {
  padding: 5px;
  border-bottom: 1px solid gray;
}

.permissions.popup>ol li ul li:last-child {
  border-bottom: 1px solid transparent;
}

.permissions.popup h2 {
  font-weight: bolder;
  font-size: 150%;
  background: #2a276b;
  color: white;
  padding: 10px;
}

.roleStyle {
  background: rgba(31, 173, 62, 0.612);
  text-align: center;
  padding: 10px 8px;
  /* border: 1px solid white; */
  width: 100%;
  margin: 0 auto;
  /* border-radius: 10px; */
  position: relative;
  font-size: 20px;
  /* padding-bottom: 20px; */
  /* margin-bottom: 20px; */
}

.roleStyle span {
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
}

.roleStyle p {
  position: absolute;
  font-size: 80%;
  width: 60%;
  text-align: center;
  background: white;
  color: black;
  padding: 3px 10px;
  border-radius: 10px;
  left: 50%;
  bottom: -50%;
  margin: 0;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  text-transform: uppercase;
}

.loginTabs span {
  cursor: pointer;
  color: #fff !important;
  background: black;
  width: 50%;
  margin: 0;
  border-radius: 0;
}

.loginTabs span.active {
  color: #fff !important;
  width: 50%;
  background: #1a7335;
}

.loginTabs {
  width: 100%;
  max-width: 500px;
  margin: 0;
}

.socialBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.googleBtn {
  margin: 5px;
  border-radius: 2px;
  padding: 5px 5px;
  background: rgb(25, 65, 168);
  border: 1px solid rgb(25, 65, 168);
  color: white;
  font-weight: bolder;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

.googleBtn:hover {
  background: rgba(25, 66, 168, 0.813);
}

.googleBtn img {
  position: absolute;
  left: 0;
  height: 100%;
  background: white;
  padding: 10px;
}

/* 
.checkboxstyle {
  width: 20px;
  height: 20px;
}
.checkboxstyle::before{
} */

.sidebaritem {
  position: relative;
}

.sidebaritem .count {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(120%, -50%);
  width: 25px;
  height: 25px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

footer {
  background: rgb(168, 166, 166);
  margin-top: 30px;
}

/* asidebar style */
.agentDetailsAsideBar {}

.agentDetailsAsideBar .tabs {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid grey;
  background: #21202014;
}

.agentDetailsAsideBar table .tabDetail {
  display: none;
}

.agentDetailsAsideBar table .tabDetail.active {
  display: flex;
  flex-direction: column;
}

.agentDetailsAsideBar table .tabs h2 {
  padding: 10px;
  cursor: pointer;
}

.agentDetailsAsideBar table .tabs h2.active {
  background: #2a276b !important;
  color: white !important;
}

.agentDetailsAsideBar table .tabs h2:hover {
  background: #15134430;
}

.agentDetailsAsideBar.active {
  right: 0;
}

.agentDetailsAsideBar h1 {
  font-weight: bolder;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  background: #2a276b;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.agentDetailsAsideBar h1 button {
  text-transform: uppercase;
  background: red;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 80%;
}

.agentDetailsAsideBar h1 button:hover {
  background: darkred;
}

.agentDetailsAsideBar table {
  display: flex;
  flex-direction: column;
}

.agentDetailsAsideBar table tr {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.agentDetailsAsideBar table tr>div {
  width: 50%;
}

.agentDetailsAsideBar table tr th {
  padding: 0 5px !important;
  padding-right: 5px;
  font-weight: lighter;
  color: grey;
  text-align: left;
  width: 100%;
  max-width: 100%;
  font-size: 80%;
}

.approved_status {
  color: rgb(43, 137, 43);
  font-weight: bolder;
  margin: 0 10px;
}

.declined_status {
  color: red;
  margin: 0 10px;
  font-weight: bolder;
}

.downloadSvg {
  margin: 0 10px;
  cursor: pointer;
}

.downloadSvg:hover {
  fill: grey;
}

.agentDetailsAsideBar table tr td {
  padding: 0 5px !important;
  padding: 0;
  width: 100%;
  max-width: 100%;
  padding: 10px 0 !important;
}

.agentDetailsAsideBar table tr>div:hover td {
  background: rgba(30, 29, 29, 0.139);
}

.agentDetailsAsideBar table tr .question {
  width: 100%;
  padding: 0 10px;
  display: block;
  color: grey;
  font: 80%;
}

.agentDetailsAsideBar table tr .answer {
  display: block;
  padding: 0 10px;
  width: 100%;
}

.agentDetailsAsideBar table .question_row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.agentDetailsAsideBar table .question_row:hover {
  background: rgba(30, 29, 29, 0.139);
}

.agentDetailsAsideBar>div {
  position: relative;
}

.agentDetailsAsideBar .tabDetail {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.agentDetailsAsideBar .tabDetail img {
  width: 40px;
  height: 30px;
  margin-right: 20px;
}

.agentDetailsAsideBar .tabDetail td,
.agentDetailsAsideBar .tabDetail th {}

.docRow {
  background: rgba(128, 128, 128, 0.268);
  margin: 10px 0;
}

.agentDetailsAsideBar .tabDetail td button {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.agentDetailsAsideBar .tabDetail td button.approve {
  background: green;
  color: white;
}

.agentDetailsAsideBar .tabDetail td button:hover {
  filter: brightness(0.8);
}

.agentDetailsAsideBar .tabDetail td button.decline {
  background: red;
  color: white;
}

.agentDetailsAsideBar .tabDetail .profile-image {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.357);
  color: white;
  margin-top: 40px;
  position: relative;
  border: 2px solid black;
  /* padding: 10px; */
  cursor: pointer;
}

.agentDetailsAsideBar .tabDetail .profile-image:hover {
  box-shadow: 0 0 10px -2px black;
}

.agentDetailsAsideBar .tabDetail .company-logo {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.357);
  color: white;
  margin-top: 40px;
  position: relative;
  border: 2px solid black !important;
  /* padding: 10px !important; */
  cursor: pointer;
}

.agentDetailsAsideBar .tabDetail .company-logo:hover {
  box-shadow: 0 0 10px -2px black;
}

.agentDetailsAsideBar .tabDetail .certificate-pdf {
  position: relative;
  width: 90%;
  background: #2a276b;
  margin: 10px;
  margin-top: 40px !important;
  padding: 20px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.agentDetailsAsideBar .tabDetail label {
  position: absolute;
  top: 0%;
  left: 0;
  transform: translateY(-100%);
  color: #2a276b;
  font-weight: bolder;
}

.agentDetailsAsideBar .tabDetail .certificate-pdf span {
  padding: 2px 10px;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.agentDetailsAsideBar .tabDetail .certificate-pdf span:hover {
  background: whitesmoke;
  color: black;
}

.top-notification-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

.top-notification-box button {
  padding: 5px 20px;
  text-transform: capitalize;
  background: #2a276b;
  color: white;
  border-radius: 10px;
}

.top-notification-box button:hover {
  background: #19173f;
}

.notificationDiv {
  display: flex;
  flex-direction: row;
  background: rgba(128, 128, 128, 0.264);
  margin: 10px;
  border-radius: 5px;
  position: relative;
  border: 2px solid transparent;
  padding: 20px 10px;
}

.notificationDiv .unreadBox {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  color: red;
}

.notificationDiv.unread .unreadBox {
  display: flex;
}

.notificationDiv .left {
  width: 50%;
}

.notificationDiv .left h2 {
  font-weight: bold;
  cursor: pointer;
}

.notificationDiv .left h2:hover {
  text-decoration: underline !important;
}

.notificationDiv .right {
  width: 50%;
  text-align: right !important;
}

.notificationDiv .left p {
  color: grey;
}

.notificationDiv .tabDetail {
  width: auto;
  height: 100%;
  display: flex;
  font-size: 90%;
  padding: 5px 10px;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bolder;
  letter-spacing: 0.5px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  color: grey;
}

.remarkpopup {
  width: 400px;
  /* min-height: 250px; */
  background: #2a276b;
  z-index: 999999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px -2px black;
  color: white;
  font-size: 15px;
  padding: 20px;
  display: none;
}

.remarkpopup.active {
  display: flex;
}

.remarkpopup h1 {
  width: 100%;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remarkpopup h1 svg {
  fill: red;
  cursor: pointer;
}

.remarkpopup h1 svg:hover {
  fill: rgb(219, 42, 42);
}

.submitRemarkBtn {
  background: white;
  color: #000;
}

.remarkpopup ul {
  margin: 10px 0;
}

.remarkpopup ul label {
  cursor: pointer;
}

.remarkpopup .form-group:nth-child(3) {
  margin-bottom: 20px;
}

.remarkpopup .form-group input {
  margin-right: 10px;
  color: black;
}

/* .subItemIconDot::before{
  content: "";
  position: absolute;
  background: white;
  width: 1px !important;
  height: 32px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */

.subItemIconDot {
  width: 10px !important;
  height: 10px !important;
  background: white;
  border-radius: 50%;
  position: relative;
}

#aside .active-link {
  background: rgba(128, 128, 128, 0.334);
}

#aside .active-link button,
#aside .active-link button .text-base {
  color: white !important;
}

#aside .active-link-group>button {
  background: rgba(255, 255, 255, 0.207);
}

#aside .defaultShowMenu {
  display: flex !important;
}

#aside .default-rotate-0 {
  transform: rotate(0) !important;
}

#aside .subGroupMenuItems {
  /* overflow: hidden; */
  display: block;
  /* transition: display 0.3s ease-in-out; */
  /* animation: openItem 0.25s linear 1 forwards; */
}

@keyframes openItem {
  0% {
    display: block;
    height: 0%;
  }

  50% {
    height: 50%;
  }

  100% {
    height: 100%;
  }
}

#aside .subGroupMenuItems.hidden-now {
  display: none !important;
  /* animation: closeItem 0.25s linear 1 forwards; */
}

@keyframes closeItem {
  0% {
    height: 100%;
  }

  50% {
    height: 50%;
  }

  100% {
    height: 0%;
    /* display: none !important; */
  }
}

.notificationPopup {
  cursor: pointer;
}

.notificationPopup:hover {
  color: red;
}

/* new */
.designedTable tr th {
  background: transparent;
  color: #000;
  padding: 10px 5px;
}

.designedTable tr th:nth-last-child(1){
  background: none;
} 

.designedTable tr th {
  border: 1px solid #e5e2e2;
}

.designedTable tr td {
  border: 1px solid #ddd;
}

.designedTable tr:nth-child(even) {
  background: #e5e2e2;
}

/* 16 feb 2023 */

.schoolFilters .filter-group select,
.schoolFilters .filter-group input {
  border-radius: 5px;
  border: 1px solid #ccc !important;
  color: #999;
  outline: none;
  font-size: 12px;
  padding: 10px 10px;
  background: #fff;
}

.addCountryPage .card-body input,
.addCountryPage .card-body select {
  border-radius: 5px;
  border: 1px solid #e5e2e2;
  outline: none;
  font-size: 14px;
}

.dashbord-table tr {
  border-bottom: 10px solid #fff;
}

/* new */
.intakestable {
  background: whitesmoke;
}

.intakestable th,
.intakestable td {
  padding: 10px;
}

.intakestable th {
  font-weight: bolder;
  border: 1px solid grey;
}

.intakestable td.col {
  font-weight: bolder;
  color: green !important;
  border: 1px solid grey;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.intakestable td {
  border: 1px solid grey;
  position: relative;
}

.intakestable td input[type="checkbox"] {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intakestable .deleteYear {
  min-width: 20px !important;
  min-height: 20px !important;
  background: red;
  border-radius: 50%;
  margin-right: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.intakestable td.col:hover .deleteYear {
  display: flex;
}

.intakestable .deleteYear:hover {
  background: rgb(99, 3, 3);
}

.intakestable .intakeStatus {
  width: 10px;
  height: 10px;
  /* background: red; */
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.intakestable .intakeStatus.active {
  color: green;
}

.intakestable .intakeStatus.deactive {
  color: red;
}

/* data */
.select-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: content-box;
  padding: 5px 0;
}

.select-checkbox option {
  height: 30px;
}

.option-selected.vissible {
  background: red;
}

.filter-tab {
  display: none;
}

.filter-tab.active {
  display: block;
}

.filter-tab-title {
  cursor: pointer;
}

.filter-tab-title.active {
  background: rgba(128, 128, 128, 0.445);
}

.createSchoolNamePopup.active {
  display: block;
}

.createSchoolNamePopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 80vh;
  overflow: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.createSchoolNamePopup>label {
  background: #2a276b;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  border-radius: 10px 10px 0 0;
  color: white;
  font-weight: bolder;
  font-size: 130%;
}

.createSchoolNamePopup input,
.createSchoolNamePopup select {
  border-color: rgb(156, 155, 155) !important;
}

.createSchoolNamePopup::-webkit-scrollbar {
  width: 0;
}

.createSchoolNamePopup::-webkit-scrollbar-track {
  width: 0;
}

.notificationCount {
  width: 30px;
  height: 30px;
  border: 1px solid red;
  border-radius: 50%;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.notificationCount span {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -30%);
  border-radius: 50%;
  font-size: 80%;
}

.pendingDocAlert.popup.active {
  display: block;
}

.pendingDocAlert.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
  /* Set the z-index higher than any other element on the page */
}

.overlay.active {
  display: block;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  /* Set the z-index lower than the popup container */
}

.pendingDocAlert .pending-documents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #f44336;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

/* Style for icon */
.pending-documents i {
  color: #f44336;
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Style for title */
.pending-documents h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Style for message */
.pending-documents p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Style for button */
.pending-documents button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Hover style for button */
.pending-documents button:hover {
  background-color: #dc3545;
}

.remarks-list {
  width: 100%;
}

.remarks-list li {
  padding: 10px;
}

.remarks-list li:nth-child(even) {
  background: rgba(128, 128, 128, 0.444);
}

.remarks-list li div:nth-child(1) {
  font-weight: bolder;
}

.remarks-list li div:nth-child(2) {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 14px;
}

/* table scrollable */
.files-table tr th {
  min-width: 100px;
}

.files-table tr th.remark {
  min-width: 200px;
}

.files-table tr td.td-hover:hover {
  background: #93858563;
  color: green;
  cursor: pointer;
}

.payBtn.active .first {
  display: none;
}

.payBtn.active .second {
  display: block;
}

.payBtn .first {
  display: block;
}

.payBtn .second {
  display: none;
}

.files .tabs {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  background: none;
  display: flex;
  flex-direction: row;
}

.files .tabs>h2 {
  padding: 10px;
  border: 1px solid grey;
  cursor: pointer;
}

.files .tabs>h2.active {
  background: #2a276b;
  color: white;
}

.max-two-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 40px !important;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 400px;
  color: white;
  background-color: #192733;
  padding: 5px;
}

.hover-text {
  cursor: pointer;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

/* .tooltip-text.top {
  top: -100px;
  left: -50px;
} */

.navbar-profile-dropdown>div {
  z-index: 9999;
}

.navbar-profile-dropdown img {
  z-index: 9999;
  position: relative;
}

.navbar-profile-dropdown .overlay {
  z-index: 9998;
}

.navbar-profile-dropdown .overlay.show {
  display: block;
}


/* .agent */
.studentAddForm .tab-list {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
}

.studentAddForm .tab-list .tab {
  color: black;
  padding: 20px;
  background: rgb(198, 195, 195);
  border-radius: 5px;
  margin: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.studentAddForm .tab-list .tab.active {
  background: #2a276b;
  color: white !important;
}

.studentAddForm .tab-content {
  display: none;
}

.studentAddForm .tab-content.active {
  display: block;
}

.agent .programs-list {
  width: 100%;
}

.agent .programs-list .program {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  background: whitesmoke;
  border: 1px solid grey;
}

.agent .programs-list .program .top {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #19173f;
  width: 100%;
  color: white;
  padding: 4px;
  border-radius: 5px 5px 0 0;
}

.agent .programs-list .program .top img {
  margin-right: 10px;
}

.agent .programs-list .program img {
  height: 25px;
  background: black;
}

.agent .programs-list .program .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 5px 0px;
}

.agent .programs-list .program .body img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.agent .programs-list .program .body span {
  font-weight: bolder;
  margin-bottom: 10px;
}

.agent .programs-list .program .td {
  width: 100%;
  padding: 5px;
}

.agent .programs-list .program .td>td:nth-child(1) {
  font-weight: bolder;
}

.agent .programs-list .program button {
  width: 80%;
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  background: red;
  color: white;
  margin-bottom: 20px;
  margin-top: 10px;
}

.action-icons-list{
  display: flex;
  justify-content: center;
}
.action-icon{
  fill: #2a276b;
  width: 18px;
  cursor: pointer;
  transition: .25s;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  -o-transition: .25s;
  margin-left: 5px;
  margin-right: 5px;
}
.action-icon:hover{
  transform: scale(1.1);
}


/* bigLoading */
.bigLoading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.227);
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: center;
}